body{
  background-color: #282c34;
  color: #fFFfFf
}

.App {
  text-align: center;
}

#question-container {
  background-color: #282c34;
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: calc(69px + 4vmin);
  color: white;

  padding-top: 4vmin;
  padding-bottom: 2vmin;
}

#answer-input {
  position: relative;
  top: 0vh;
  max-width: 40vh;
  height: calc(79px + 4vmin);
  font-size: calc(69px + 4vmin);
  border-width: 0;
  padding-bottom: 15px;
}

input{
  outline: none; /* remove outline */
  border-width: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  background-color: #1b1d1e;
}

/* remove increment decrement buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -webkit-appearance: none;
    margin: 0;
  -moz-appearance:textfield; /* Firefox */
}

input[type=checkbox]{
  filter: invert(100%) hue-rotate(100deg) brightness(2);
}


button {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
  padding: 5px 6px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  white-space: normal;
  width: 100%;
}

button:hover{
  background-color: rgb(255, 255, 255);
  color: #1a1d20;
}


/* 

LEFT SIDE NAVIGATION BAR 

*/


.checkbox-label{
  color: white
}

.checkbox-op-label{
  font-size: 25px;
}

/* stupid checkboxes */


/* side nav bar containers */

.leftsidenav {
  height: 100%; 
  width: 20vh; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #1a1d20;
  overflow-x: hidden; 
  padding-top: 20px;
  
  color: white;
  padding: 5px;
}

.rightsidenav {
  height: 100%; 
  width: 20vh; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: #1a1d20;
  overflow-x: hidden; 
  padding-top: 20px;
  
  color: white;
  padding: 5px;
}




/*

    TRANSCRIPT

*/

table{
  table-layout: fixed;
}

#transcriptContainer{
  text-align: center;
  display: block; /* default, to be toggled by js (for some reason doesnt work here? transcriptContainer.display is nothing*/
}

#transcript-table{
  /* center */
  margin-left: auto;
  margin-right: auto;
  margin: 0px auto;

  width: 70vw;

  font-size: 30px;
}

.transcript-correct{
  background-color: rgb(49, 136, 76)
}

.transcript-incorrect{
  background-color: palevioletred;
}

.transcript-table-data-q{
  height: 50px;
  width: 40vw;
}

.transcript-table-data-q .transcript-table-data-fb{
  height: 50px;
  width: 15vw;
}

/* STATISTICS */
#stats-container{
  display: none; /* defualt, togglable by js */
}

#stats-table{
  /* center */
  margin-left: auto;
  margin-right: auto;
  margin: 0px auto;
  text-align: center;

  /*width: 80vw;*/

  font-size: 30px;
}

.stats-table-date{
  height: 50px;
  width: 20vw;
}

.stats-table-score{
  height: 50px;
  width: 25vw;
}

.stats-table-acc{
  height: 50px;
  width: 25vw;
}

