.App {
  text-align: center;
}

#heading-container {
  background-color: #677070;
  min-height: 10vh;
}

#question-container {
  background-color: #282c34;
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: calc(69px + 4vmin);
  color: white;

  padding-top: 4vmin;
  padding-bottom: 4vmin;
}

#answer-input {
  background-color: #282c34;
  max-width: 40vh;
  height: calc(69px + 4vmin);
  font-size: calc(69px + 4vmin);
  color: white;
}



.checkbox-label{
  color: white
}


.leftsidenav {
  height: 100%; 
  width: 15vh; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #1a1d20;
  overflow-x: hidden; 
  padding-top: 20px;
  
  color: white
}

.rightsidenav {
  height: 100%; 
  width: 15vh; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: #1a1d20;
  overflow-x: hidden; 
  padding-top: 20px;
  
  color: white
}

.checkbox-op-label{
  font-size: 25px;
}