.App {
  text-align: center;
}

#heading-container {
  background-color: #677070;
  min-height: 10vh;
}

#question-container {
  background-color: #282c34;
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: calc(69px + 4vmin);
  color: white;

  padding-top: 4vmin;
  padding-bottom: 4vmin;
}

#answer-input {
  background-color: #282c34;
  max-width: 40vh;
  height: calc(69px + 4vmin);
  font-size: calc(69px + 4vmin);
  color: white;
}