body{
  background-color: #ffffff;
}

.App {
  text-align: center;
}

#heading-container {
  background-color: #677070;
  min-height: 10vh;
}

#question-container {
  background-color: #282c34;
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: calc(69px + 4vmin);
  color: white;

  padding-top: 4vmin;
  padding-bottom: 2vmin;
}

#answer-input {
  position: relative;
  top: 0vh;
  background-color: #1b1d1e;
  max-width: 40vh;
  height: calc(79px + 4vmin);
  font-size: calc(69px + 4vmin);
  color: white;


  outline: none; /* remove outline */
  padding-bottom: 15px;
}


/* 

LEFT SIDE NAVIGATION BAR 

*/


.checkbox-label{
  color: white
}

.checkbox-op-label{
  font-size: 25px;
}

/* stupid checkboxes */


/* side nav bar containers */

.leftsidenav {
  height: 100%; 
  width: 15vh; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #1a1d20;
  overflow-x: hidden; 
  padding-top: 20px;
  
  color: white
}

.rightsidenav {
  height: 100%; 
  width: 15vh; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: #1a1d20;
  overflow-x: hidden; 
  padding-top: 20px;
  
  color: white
}




/*

    TRANSCRIPT

*/

#transcriptContainer{
  text-align: center;
}

#transcript-table{
  /* center */
  margin-left: auto;
  margin-right: auto;
  margin: 0px auto;

  width: 80vw;

  font-size: 30px;
}

.transcript-correct{
  background-color: lime;
}

.transcript-incorrect{
  background-color: palevioletred;
}

.transcript-table-data-q{
  height: 50px;
  width: 50vw;
}

.transcript-table-data-q .transcript-table-data-fb{
  height: 50px;
  width: 15vw;
}